*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('./pics/cool-black-background.jpg');
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 80%;
    height: 100vh;
    margin: auto;
    border-left: 5px solid purple;
    border-right: 5px solid purple;
    box-shadow: 5px 2px 70px purple;
    background: linear-gradient(rgb(29, 29, 29),rgb(77, 77, 77),darkgrey);
}

.media-content {
    width: 800px;
    height: 350px;
    margin: auto;
    margin-top: 50px;
    background:rgb(33, 33, 33);
    border: 2px solid purple;
    border-radius: 1000px;
    position: relative;
    z-index: 1;
}

.foot-img {
    width: 79%;
    margin-left: 4px;
    position: absolute;
    bottom: 0;
}

.logo {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px;
}

.nav-link {
    color: white;
    border: 2px solid purple;
    border-radius: 60px;
    margin: 5px;
    margin-top: 20px;
    margin-right: 20px;
    background: rgb(44, 44, 44);
    font-weight: 600;
}

.nav-link:hover {
    color: rgb(44, 44, 44);
    background: whitesmoke;
    opacity: 0.8;
}

.media-player-content{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.main {
    height: 250px;
    width: 535px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.track-info {
    width: 300px;
    height: 225px;
    display: flex;
    flex-direction: column;
}

.track-info > p {
    color: white;
    height: 20px;
    margin-left: 10px;
}

.btn {
    margin: 10px;
    padding: 10px;
    /*background: rgb(44, 44, 44);*/
    background: linear-gradient(150deg,rgb(44, 44, 44), rgb(88, 88, 88));
    color: rgb(33, 33, 33);
    border: 2px solid black;
    cursor: pointer;
}

.btn:hover {
    color: rgb(33, 33, 33);;
}

.active {
    margin: 10px;
    padding: 10px;
    color: white;
    background:rgb(22, 22, 22);
    border: 2px solid black;
    cursor: pointer;
}

.active:hover {
    color: white;
}

.power-on {
    color: lime;
    margin: 10px;
    padding: 10px;
    background: rgb(44, 44, 44);
    border: 2px solid black;
    cursor: pointer;
    height: 46px;
}
.power-off {
    color: red;
    margin: 10px;
    padding: 10px;
    background: rgb(44, 44, 44);
    border: 2px solid black;
    cursor: pointer;
    height: 46px;
    position: relative;
    top: -100px;
    
}

.power-on:hover {
    color: lime;
}

.power-off:hover {
    color: red;
}

.hidden {
    display: none;
}

.media-player-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#player {
    padding: 10px;
}

.controlpanel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#control-btns {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    list-style: none;
}